.settings/
**/.settings/
.project
**/.project
**/.classpath
.classpath
.idea/
*.iml
target/
.DS_Store

**/cucumber-html-reports/
**/logs/log.out
cb_common/bin/
cb_customer_app/ cucumber-html-reports/
/GitLogin.txt
run.cmd
Curbside.app/
!ios_simulator_builds/Curbside.app/
cb_customer_app/output/screenshots
cb_customer_app/output/report.html
cb_customer_app/output/report_full.html
cb_customer_app/output/report copy.html


0001-added-app-store-to-add-capability-to-test-multiple-a.patch
Curbside.7.12.17.ipa
Curbside.app.7.12.17.zip
