.settings/
**/.settings/
.project
**/.project
**/.classpath
.classpath
.idea/
*.iml
target/
.DS_Store

**/cucumber-html-reports/
**/logs/log.out
cb_common/bin/
cb_customer_app/ cucumber-html-reports/
/GitLogin.txt
run.cmd
Curbside.app/
!ios_simulator_builds/Curbside.app/
cb_customer_app/output/screenshots

